@{
    ViewData["Title"] = "Home Page";
}

<!--Bring in the model-->
@model List<Bowler>


<h1>Bowler Contact Information</h1>
<!--Show Team Name if filtered-->


<div class="row m-1 p-1">
    <!--Ability to filter by team name-->
    <div id="filter" class="col-3">
        <vc:filter></vc:filter>
    </div>

    <div class="col-9">
        <!--Dynamic table for bowler info-->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Bowler ID</td>
                    <td>Last Name</td>
                    <td>First Name</td>
                    <td>Middile Initial</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip Code</td>
                    <td>Phone Number</td>
                </tr>
            </thead>
            <tbody>
                <!--Create a table row for each bowler-->
                @foreach (var b in Model)
                {
                    <tr>
                        <td>@b.BowlerLastName</td>
                        <td>@b.BowlerFirstName</td>
                        <td>@b.BowlerMiddleInit</td>
                        <td>@b.BowlerAddress</td>
                        <td>@b.BowlerCity</td>
                        <td>@b.BowlerState</td>
                        <td>@b.BowlerZip</td>
                        <td>@b.BowlerPhoneNumber</td>
                        <td>@b.Team.TeamName</td>

                        <!--Edit and delete buttons-->
                        <td>
                            <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <!--Create button-->
        <a class="btn btn-info" asp-controller="Home" asp-action="Create">Add New Bowler</a>
    </div>
</div>